[user]
    name = hiroaki-tanaka128
    email = tanaka_hiroaki@cyberagent.co.jp

[github]
    user = hiroaki-tanaka128

[core]
    ignorecase = false
    editor = vim
    excludesfile = ~/.gitignore_global

[color]
    ui = auto
    diff = auto
    grep = auto
    branch = auto
    interactive = auto

[grep]
    lineNumber = true

[pull]
    rebase = false

[push]
    default = current

[commit]
    template = ~/.stCommitMsg

[ghq]
    root = ~/src
