[user]
    name = Hiroaki Tanaka
    email = hiroaki.tanaka128@gmail.com 

[github]
    user = htnk128

[core]
    ignorecase = false
    editor = vim
    excludesfile = ~/.gitignore_global

[color]
    ui = auto
    diff = auto
    grep = auto
    branch = auto
    interactive = auto

[grep]
    lineNumber = true

[pull]
    rebase = false

[push]
    default = current

[commit]
    template = ~/.stCommitMsg

[ghq]
    root = ~/src
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
